---
layout: default
title: Archive
permalink: /archive/
---

<h1>Archive</h1>

<div class="posts">
  {% for post in paginator.posts %}
    {% unless post.categories contains "strange-researches" or post.categories contains "cities" %}
      <article class="post">
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        <div class="entry">
          {% if post.content != post.excerpt %}
            {{ post.excerpt }}
            <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
          {% else %}
            {{ post.content }}
          {% endif %}
        </div>
      </article>
    {% endunless %}
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% endif %}
  
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% endif %}
</div>

{% for link in site.data.navigation %}
  <a class="page-link" href="{{ link.url }}">{{ link.title }}</a>
{% endfor %}

<style>
  .pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .previous {
    float: left;
  }
  .next {
    float: right;
  }
</style>