---
layout: default
---

<div class="toc">
  <h2>On This Page:</h2>
  <ul>
    {% for post in paginator.posts %}
      {% unless post.categories contains "strange-researches" or post.categories contains "cities" %}
        <li>
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          <span class="post-date">- {{ post.date | date: "%B %d, %Y" }}</span>
        </li>
      {% endunless %}
    {% endfor %}
  </ul>
</div>

<div class="posts">
  {% for post in paginator.posts %}
    {% unless post.categories contains "strange-researches" or post.categories contains "cities" %}
      <article class="post">
        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
        <div class="entry">
          <p>{{ post.content | truncate: 600 }}</p> <!-- Display first 500 characters of post content -->
        </div>
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      </article>
    {% endunless %}
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% endif %}
  
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% endif %}
</div>

{% for link in site.data.navigation %}
  <a class="page-link" href="{{ link.url }}">{{ link.title }}</a>
{% endfor %}
