---
title: "Cities"
layout: default
permalink: /cities/
---

<h1>Cities</h1>

<p>I love vintage pictures of cities, especially street scenes. I collect these and have posted them all here.</p>

<div class="collection-list">
  <h1>Retro City Pictures</h1>
  <ul>
    {% for city in site.cities %}
      <li>
        <article>
          <h2><a href="{{ city.url }}">{{ city.title }}</a></h2>
          <p>{{ city.description | truncatewords: 20 }}</p>
          <p><small>{{ city.date | date: "%B %d, %Y" }}</small></p>
        </article>
      </li>
    {% endfor %}
  </ul>
</div>