---
title: "The Great Lines Newsletter"
layout: default
permalink: /newsletter/
---

<h1>Great Lines Newsletter</h1>

<p>These are all editions of my newsletter, Great Lines.</p>

<div class="toc">
  <ul>
    {% assign sorted_newsletters = site.newsletter | sort: 'date' %}
    {% for newsletter in sorted_newsletters %}
      <li>
        <a href="{{ site.baseurl }}{{ newsletter.url }}">{{ newsletter.title }}</a>
        <span class="post-date">- {{ newsletter.date | date: "%B %d, %Y" }}</span>
      </li>
    {% endfor %}
  </ul>
</div>

<div class="posts">
  {% assign sorted_newsletters = site.newsletter | sort: 'date' %}
  {% for newsletter in sorted_newsletters %}
    <article class="post">
      <h1><a href="{{ site.baseurl }}{{ newsletter.url }}">{{ newsletter.title }}</a></h1>
      <div class="entry">
        <p>{{ newsletter.content | truncate: 600 }}</p> <!-- Display first 600 characters of post content -->
      </div>
      <a href="{{ site.baseurl }}{{ newsletter.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% endif %}
  
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% endif %}
</div>

<div class="navigation">
  {% for link in site.data.navigation %}
    <a class="page-link" href="{{ link.url }}">{{ link.title }}</a>
  {% endfor %}
</div>
