---
title: "Spicy Posts"
layout: default
permalink: /spicy/
---

<h1>Spicy Posts</h1>

<div class="toc">
  <ul>
    {% assign sorted_spicys = site.spicy | sort: 'title' %}
    {% for spicy in sorted_spicys %}
      <li>
        <a href="{{ site.baseurl }}{{ spicy.url }}">{{ spicy.title }}</a>
        <span class="post-date">- {{ spicy.date | date: "%B %d, %Y" }}</span>
      </li>
    {% endfor %}
  </ul>
</div>

<div class="posts">
  {% for spicy in sorted_spicys %}
    <article class="post">
      <h1><a href="{{ site.baseurl }}{{ spicy.url }}">{{ spicy.title }}</a></h1>
      <div class="entry">
        {% if spicy.content != spicy.excerpt %}
        {{ spicy.content | split: "<p>" | slice: 1, 2 | join: "<p>" }}
          <a href="{{ site.baseurl }}{{ spicy.url }}" class="read-more">Read More</a>
        {% else %}
          {{ spicy.content }}
        {% endif %}
      </div>
    </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% endif %}
  
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% endif %}
</div>

{% for link in site.data.navigation %}
  <a class="page-link" href="{{ link.url }}">{{ link.title }}</a>
{% endfor %}

<style>
.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.previous {
  float: left;
}
.next {
  float: right;
}
</style>
