---
layout: default
---

<h1>Strange Researches</h1>

<p>These are all pages where I've done some original research.</p>

<div class="toc">
  <ul>
    {% assign sorted_researches = site.strange_researches | sort: 'title' %}
    {% for research in sorted_researches %}
      <li>
        <a href="{{ site.baseurl }}{{ research.url }}">{{ research.title }}</a>
        <span class="post-date">- {{ research.date | date: "%B %d, %Y" }}</span>
      </li>
    {% endfor %}
  </ul>
</div>

<div class="posts">
  {% for research in sorted_researches %}
    <article class="post">
      <h1><a href="{{ site.baseurl }}{{ research.url }}">{{ research.title }}</a></h1>
      <div class="entry">
        {% if research.content != research.excerpt %}
          {{ research.excerpt }}
          <a href="{{ site.baseurl }}{{ research.url }}" class="read-more">Read More</a>
        {% else %}
          {{ research.content }}
        {% endif %}
      </div>
    </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% endif %}
  
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% endif %}
</div>

{% for link in site.data.navigation %}
  <a class="page-link" href="{{ link.url }}">{{ link.title }}</a>
{% endfor %}

<style>
.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.previous {
  float: left;
}
.next {
  float: right;
}
</style>